<% title t('users.titles.new') %>

<% form_for @user, :url => account_path do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :login %><br />
    <%= f.text_field :login %>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <%- if @invitation -%>
  <%= f.hidden_field :invitation_id %>
  <%= hidden_field_tag :invitation_token, @invitation.token %>
  <p>
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %>
  </p>
  <p>
    <%= f.label :openid_identifier, openid_link %><br />
    <%= f.text_field :openid_identifier, :size => 50 %>
  </p>
  <%- end -%>
  <p>
    <%= f.submit t('users.actions.signup') %>
  </p>
<% end %>