<h1>Create Account</h1>

<%= error_messages_for :user %>
<% form_for @user, :url => account_path do |f| %>
<fieldset>
	<legend>Register using OpenID</legend>
	<%= f.label :openid_identifier, "Use OpenID" %><br />
	<%= f.text_field :openid_identifier, :size => 50 %><br />
	<p><%= f.submit "Register" %></p>
</fieldset>
<% end %>
<h2> - or -</h2>
<% form_for @user, :url => account_path do |f| %>
<fieldset>
	<legend>Create a username and password</legend>
	<%= f.label :name %><br />
	<%= f.text_field :name %><br />
	<br />
	<%= f.label :email %><br />
	<%= f.text_field :email %><br />
	<br />
	<%= f.label :login %><br />
	<%= f.text_field :login %><br />
	<br />
	<%= f.label :password, f.object.new_record? ? nil : "Change password" %><br />
	<%= f.password_field :password %><br />
	<br />
	<%= f.label :password_confirmation %><br />
	<%= f.password_field :password_confirmation %><br />
	<p><%= f.submit "Register" %></p>
</fieldset>
<% end %>
