<%# render :partial => 'admin/shared/restful_links', :object => @user %>
<%# auto_title %>


<p>
  <strong>Name:</strong>
  <%=h @user.name %>
</p>
<p>
  <strong>Email:</strong>
  <%=h @user.email %>
</p>
<p>
  <strong>Login:</strong>
  <%=h @user.login %>
</p>
<p>
  <strong>Openid Identifier:</strong>
  <%=h @user.openid_identifier %>
</p>
<p>
  <strong>Login Count:</strong>
  <%=h @user.login_count %>
</p>
<p>
  <strong>Failed Login Count:</strong>
  <%=h @user.failed_login_count %>
</p>
<p>
  <strong>Last Request At:</strong>
  <%=h @user.last_request_at %>
</p>
<p>
  <strong>Last Login At:</strong>
  <%=h @user.last_login_at %>
</p>
<p>
  <strong>Current Login At:</strong>
  <%=h @user.current_login_at %>
</p>
<p>
  <strong>Last Login Ip:</strong>
  <%=h @user.last_login_ip %>
</p>
<p>
  <strong>Current Login Ip:</strong>
  <%=h @user.current_login_ip %>
</p>
