<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <title>Administration Area</title>
    <%= stylesheet_link_tag 'authentication' %>
    <%= stylesheet_link_tag 'admin/admin' %>
    <%= stylesheet_link_tag 'admin/pagination' %>
    <%= stylesheet_link_tag "admin/#{controller.controller_name}", :media => 'all' %>
    <%= javascript_include_tag :defaults %>
    <%= yield(:head) %>
  </head>
  <body class="<%= controller.controller_name %>">
  <div id="admin_page">
    <%= render :partial => 'admin/shared/header' %>
    <%= render :partial => 'admin/shared/main_menu' %>
    <div id="admin_center">
    <div id="admin_main">
    <%= render :partial => 'admin/shared/flash_messages' if flash.size > 0 %>
    <%= yield %>
    </div>
    </div>
    <div id="admin_footer">Footer</div>
  </div>
</body>
</html>


